body {
  width: 100%;
  height: 100dvh;
  display: grid;
  background: #6BB2DB;
  background: linear-gradient(0deg,rgba(107, 178, 219, 1) 0%, rgba(240, 248, 255, 1) 30%);
}

.login-box {
  place-items: center;
  width: 280px;
  height: 380px;
  padding: 20px;  
  background-color: white;  
  box-shadow: 0 0 10px 1px var(--txt-color);
  outline: .7px solid var(--txt-color);
  border-bottom: 5px solid var(--sysmax-blue);
  text-align: center;  
}

.login-box img {
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 30px;
}

.login-box .user-box {
  position: relative;
  margin: 0 20px;  
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-family: var(--text-font);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--txt-color);
  outline: none;
  background: transparent;
  color: var(--borderbottom-color);    
}

.login-box .user-box > label {
  position: absolute;
  top:0;
  left: 0;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--sysmax-blue);
  padding-bottom: 10px;
  font-size: 1.2em;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--sysmax-blue);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box .user-box button{
  margin-top: .2em;
  width: 8em;
  height: 2em;
  font-size: 16px;
  color: var(--sysmax-blue2);
  transition-duration: 0.4s;
  outline: none;  
  border: none;
}

.login-box .user-box button:hover{
    background-color: var(--sysmax-blue2);
    color: var(--txt-color);
    transition: ease-in-out;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-spanErrorMessage{
  color: var(--sysmax-error);
  font-size: large;
}