@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: "Score Board";
  src: url("../fonts/scoreboard.ttf") format("truetype");  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Rubik", sans-serif;
  --text-font: "Lato", sans-serif;
  --font-lcd1: "Score Board", sans-serif;
  --title-color: #1f1f1f;
  --txt-color: #cdcdcd;
  --txt-color1: rgb(200,198,209);
  --top-bar_color: #f5f5f5;
  --top-bar_color1: #F6F8FA;
  --topbar-rgb: rgba(245, 245, 245, .95);
  --borderbottom-color: #0d0d0d;  
  --borderbottom-color2: #59636e;
  --borderbottom-color3: #000;
  --sysmax-blue: #65C4D9;
  --sysmax-blue1: #6BB2DB;
  --sysmax-blue2: #0077b6;
  --sysmax-error: #ff6961;
  --sysmax-main_bg: aliceblue;
  --led-indicator1: #E1FF44;
}

/* Mantener footer hasta abajo */

.main-con {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* End Mantener footer hasta abajo */

/* Top Bar section */

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: var(--top-bar_color1);
  border-bottom: .7px solid var(--borderbottom-color2);
  z-index: 100;
}

.container {
  width: inherit;
  height: inherit;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.nav {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.btn-close {
  background-color: var(--sysmax-error);
  font-family: var(--text-font);
  font-size: 1em;
  padding: 7px 10px;
  color: var(--top-bar_color);
  margin-left: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px solid var(--borderbottom-color);
  transition: background-color .3s ease;
}

.btn-close:hover {
  background-color: #c8102e;
}

.box-link {  
  text-align: center;
}

.clientname {
  font-family: var(--text-font);
  color: var(--borderbottom-color);
  font-weight: bold;
  font-size: .88em;
  text-align: right;
  padding-left: 10px;
  text-transform: uppercase;
}

.reading {
  cursor: pointer;
  font-family: var(--text-font);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 14px;
  color: var(--borderbottom-color);
  transition: outline .3s ease-in-out;
}

.reading:hover {
  outline: 2px solid var(--sysmax-blue1);  
}


/* Top Bar section end */

.sysmax-main  {  
  width: 100%;
  height: auto;
  background: aliceblue;
}

.sysmax-hero {
  width: 100%;
  height: 250px;
  background-image: url(../img/Rack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sysmax-con {
  width: inherit;
  height: inherit;
  max-width: 1400px;
  margin: auto;  
}

.sysmax-box {
  width: inherit;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  gap: 20px;
}

.box-reading {
  width: 180px;
  height: 150px;
  background-color: var(--top-bar_color1);  
  outline: .7px solid var(--borderbottom-color2);
  border-bottom: 3px solid var(--borderbottom-color);  
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}

.reading-title {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 1em;  
  color: var(--sysmax-blue2);
}

.reading-txt {
  display: block;
  width: 90%;
  background-color: var(--led-indicator1);
  font-family: var(--font-lcd1);
  font-size: 1em;
  font-style: italic;
  padding: 5px 15px;
  border-radius: 7px;
  outline: 1.5px solid var(--borderbottom-color2);
  color: var(--borderbottom-color3);
}

.sys_title {
  font-family: var(--title-font);
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal;
  color: var(--title-color);
}

.sys_txt {
  font-family: var(--text-font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  color: var(--txt-color);
}

.report-con {
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.btn-report {  
  text-align: center;
  background-color: var(--sysmax-blue2);
  color: var(--top-bar_color);
  font-family: var(--text-font);
  font-size: .88em;
  text-decoration: none;
  padding: 7px 17px;  
  transition: all .2s ease-in-out;
  box-shadow: 1px 1px 1px var(--borderbottom-color);
  border-radius: 7px;
}

.btn-report i {
  padding-right: 5px;
}

.btn-report:hover {
  cursor: pointer;
  background-color: var(--top-bar_color);
  box-shadow: 0 0 2px var(--borderbottom-color);
  font-weight: bold;
  color: var(--sysmax-blue2);
}

#pagination button {
  padding: 5px 7px;
  font-family: var(--title-font);
  font-size: 1em;
  cursor: pointer;  
}

.sysmax-footer {
  width: 100%;
  height: auto;
  background-color: var(--borderbottom-color);
}

.footer-con {
  width: inherit;
  height: inherit;
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
}

.footer-box {
  width: 80%;
  height: inherit;  
  text-align: center;
  margin: auto;
  color: var(--txt-color);
}

.sysmax-title {
  font-family: var(--title-font);
  font-size: .88em;
  padding-bottom: 5px;
}

.sysmax-dir, .sysmax-tel {
  font-size: .88em;
  font-family: var(--text-font);  
}

.sysmax-dir span {
  font-size: .88em;
  font-weight: bold;
  font-family: var(--title-font);
}

.sysmax-email {
  font-family: var(--text-font);
}

.sysmax-link {
  text-decoration: none;
  font-size: .88em;
  cursor: pointer;
  color: var(--txt-color);
  transition: .3s ease;
}

.sysmax-link:hover {
  color: var(--sysmax-blue);
}

.centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
  display: none;
}

@media (min-width: 280px) and (max-width: 425px) {

  .box-link {
    padding: 0;
    text-align: right;
  }

  .reading {
    font-size: .88em;
    padding: 5px 10px;
  }

  .container {
    padding: 0 10px;
  }

  .sysmax-box {
    flex-direction: column;   
    flex: 1 0 0;     
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sysmax-hero { 
    height: 300px;  
    background-position: center;  
  }

  .container {
    padding: 0;
  }

  .nav {
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }

  .nav {
    justify-content: space-around;
  }

  .sysmax-box {   
    gap: 50px;     
  }

  .sysmax-hero { 
    min-height: 400px;  
    background-position: 50% 52%;
    background-size: cover; 
  }
}
